<h1>Listing tracks</h1>

<table>
  <thead>
    <tr>
      <th>Record name</th>
      <th>Autor name</th>
      <th>Album</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.record_name %></td>
        <td><%= track.autor_name %></td>
        <td><%= track.album_id %></td>
        <td><%= link_to 'Show', track %></td>
        <td><%= link_to 'Edit', edit_track_path(track) %></td>
        <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Track', new_track_path %>

<% sort_track = Track.where(album_id: 2) %>
<br><br>
<h1>Search by 'album_id'</h1>
<table>
  <thead>
    <tr>
      <th>Record name</th>
      <th>Autor name</th>
      <th>Album</th>

    </tr>
  </thead>

  <tbody>
    <% sort_track.each do |sort_track| %>
      <tr>
        <td><%= sort_track.record_name %></td>
        <td><%= sort_track.autor_name %></td>
        <td><%= sort_track.album_id %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>