<% provide(:title, 'list of tracks') %>
<h1>Listing tracks</h1>

<br>

<div id="search">
  <%= form_tag(Track, :method => "get") do %>
      <div>
        <%= text_field_tag :search, params[:search], placeholder: "Search by tracks" %>
        <button type="submit">Search by track</button>
      </div>
  <% end %>
  </div>

 <br>

<table id="list_of_tracks">
  <thead>
    <tr>
      <th>ID</th>
      <th>Record name</th>
      <th>Autor name</th>
      <th>Album name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>

      <tr>
        <td><%= track.id %></td>
        <td><%= track.record_name %></td>
        <td><%= track.autor_name %></td>
        <td><%= Album.find_by_id(track.album_id).album_name %></td> <!-- insted of HASH -->
        <td><%= link_to 'Show', track %></td>
        <td><%= link_to 'Edit', edit_track_path(track) %></td>
        <td id="destroy"><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
   
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Track', new_track_path %> <br>