<% provide(:title, 'Show') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Record name:</strong>
  <%= @track.record_name %>
</p>

<p>
  <strong>Autor name:</strong>
  <%= @track.autor_name %>
</p>

<p>
  <strong>Album:</strong>
  <%= Album.find_by_id(@track.album_id).album_name %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>