<% provide(:title, 'list of albums') %>
<h1>Listing albums</h1>

<table>
  <thead>
    <tr>
      <th>ID</th> 
      <th>Album name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.id %></td>
        <td><%= album.album_name %></td>
        <td><%= link_to 'Show', album %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_album_path %>
<br>
<br>  
<h1>Try to create search</h1>


<%= form_tag(Album, :method => "get") do %>
    <div>
      <%= text_field_tag :search, params[:search], placeholder: "Search by albums" %>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
           of using a Rails form helper -->
      <button type="submit"></button>
    </div>
  <% end %>
</div>