<% provide(:title, 'Show') %>
<p id="notice"><%= notice %></p>	

<p>
  <strong>Album name:</strong>
  <%= @album.album_name %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
<br>

<div id="search">
	<%= form_tag(Track, :method => "get") do %>
	    <div>
	      <%= text_field_tag :search, params[:search], placeholder: "Search by tracks" %>
	      <button type="submit">Search</button>
	    </div>
	<% end %>
  </div>

 <br>
<div class="tables_style">
<table>
<caption> List of tracks which are entered in => "<%= @album.album_name.capitalize %>"</caption>
	<thead>
		    <tr>
		      <th>Record name:</th> 
		      <th>Autor name:</th>
		    </tr>
	  </thead>
	  <tbody>
		<% @tracks.each do |track| %>
			<tr id="track_list">
			  <td><%= track.record_name %></td>
			  <td><%= track.autor_name %></td>
        	  <td id ="destroy"><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>
<%= link_to 'Add new track', new_track_path %>