
<!DOCTYPE html>
<html>
<head>
     <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

	<div id="head">
		<ul>
			<%= link_to "Home", root_path %>
			<%= link_to "About", about_path %>      
      <%= link_to "Help", help_path %>
      <%= link_to "Contact", contact_path %>
			<li><a href="/albums">to Album</a></li>
			<li><a href="/tracks">to Track</a></li>
		</ul>
	</div>
<div class="content">	
<%= yield %>
</div>
<!--<div class="fotter">подвал
	
	<ul>
		<li>2015</li>
		<li>Galenko Evgeniy</li>
		<li>Music App</li>
	</ul>

</div>-->

</body>
</html>
