
<!DOCTYPE html>
<html>
<head>
  <title>Music App | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div class="inside_menu">
<ul class="inside_menu">
	<li><a href="static_pages/home">to Home</a></li>
	<li><a href="static_pages/about">to About</a></li>
	<li><a href="static_pages/help">to Help</a></li>
	<li><a href="static_pages/contact">to Contact</a></li>
	<li><a href="/albums">to Album</a></li>
	<li><a href="/tracks">to Track</a></li>
</ul>
</div>

</body>
</html>
